body {
    font-family: 'Sriracha', sans-serif;
}

.tasq-head {
    margin: 20px;
    text-align: center;
}

.tasq-subhead {
    padding: 10px;
    color: #fff;
    background-color: #808080;
    text-align: center;
}

.tasq-body {
    text-align: center;
}